*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar{
    width: 100%;
    max-width: 700%;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.bar{
    background: transparent;
    flex: 1;
    border: 0;
    outline:none ;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}